# Database
DB_USER=postgres
DB_HOST=db
DB_NAME=crypto_credits
DB_PASSWORD=postgres
DB_PORT=5432

# JWT
JWT_SECRET=your_jwt_secret_key

# Kraken API
KRAKEN_API_KEY=your_kraken_api_key
KRAKEN_PRIVATE_KEY=your_kraken_private_key

# Blockchain
INFURA